#############################################################################
## 1. OPENAPI
#############################################################################
openapi: 3.0.2

#############################################################################
## 2. INFO
#############################################################################
info:
  version: 1.0.0
  title: TMFORUM Common Schema (Data Type) Definitions for APIs
  contact:
    name: MonetizeHub.IO Project Support
    
  license:
    name: TMFORUM RAND
    url: https://github.com/tmforum-rand/RAND-LICENSE 
  description: |
    <!-- Note that this description is a MARKDOWN Block -->

    **This Open API specification does NOT contain any valid PATHS/OPERATIONS!!!. It ONLY contains COMMON SCHEMA (TYPE) DEFINITIONS referred by other API specifications.**

    Thus, in this context COMMON SCHEMA (TYPE) DEFINITIONS mean shared entity models or baseline objects that can be reused with or without extension.
    
#############################################################################
## 3. SERVERS
#############################################################################
servers:
  - url: https://monetizehub.io/demos/current/apis/private/
    description: MonE Private APIs and Schemas Specification

#############################################################################
## 4. PATHS
#############################################################################
paths:
  /readMe:
    get:
      summary: This is a placeholder nouse operation. (to bypass Swagger UI limitation of a specification with ONLY data models without operation)
      operationId: readMe
      responses:
        default:
          description: default response
          content:
            '*/*':
              schema:
                type: string


#############################################################################
## 5. COMPONENTS
#############################################################################
components:
  schemas:


    SalesLeadStateType:
      type: "string"
      description: "Valid values for the lifecycle state of a salesLead resource"
      enum:
      - "accepted"
      - "acknowledged"
      - "cancelled"
      - "inProgress"
      - "pending"
      - "rejected"


    SalesOpportunityRef:
      description: "Sales Opportunity is an 'opportunity' to generate revenue from a\
        \ Sales Account or Sales Lead. Opportunities are the pending deals that need\
        \ to be tracked and on which Sales Team plans and executes Sales Activities\
        \ (Events and Tasks). "
      type: "object"
      properties: {}
      allOf:
      - $ref: '/INTERFACES/API-SPECIFICATION/YAML/TMFORUM/DATA_MODEL/Common.yaml#/components/schemas/EntityRef'


    SalesLead:
      description: "A Sales Lead is the identification of a person or organization that\
        \ has an interest in the goods and/or services provided in the prospect of them\
        \ becoming Customers with one or more Subscriptions."
      type: "object"
      properties:
        href:
          type: "string"
          description: "Reference of the salesLead"
        id:
          type: "string"
          description: "Unique identifier of the salesLead"
        name:
          type: "string"
          description: "Name of the salesLead"
        description:
          type: "string"
          description: "Unique description of the salesLead"
        status:
          $ref: '/INTERFACES/API-SPECIFICATION/YAML/TMFORUM/DATA_MODEL/MarketingSales.yaml#/components/schemas/SalesLeadStateType'
        statusChangeDate:
          type: "string"
          format: "date-time"
          description: "Date and time of the last update"
        creationDate:
          type: "string"
          format: "date-time"
          description: "Date and time of the salesLead creation"
        referredDate:
          type: "string"
          format: "date-time"
          description: "Date when the prospect information was received (for example,\
            \ from a trade show)."
        statusChangeReason:
          type: "string"
          description: "Reason why the status has changed"
        type:
          type: "string"
          description: "Indicates the nature of the salesLead"
        rating:
          type: "string"
          description: "Identifies the potential of a salesLead for becoming a sale.\
            \ Usual ratings for qualified leads are: hot, warm, cold."
        priority:
          $ref: '/INTERFACES/API-SPECIFICATION/YAML/TMFORUM/DATA_MODEL/MarketingSales.yaml#/components/schemas/SalesLeadPriorityType'
        estimatedRevenue:
          $ref: '/INTERFACES/API-SPECIFICATION/YAML/TMFORUM/DATA_MODEL/Common.yaml#/components/schemas/Money'
          description: "Estimation of the revenue if the salesLead turns into a sale."
        validFor:
          $ref: '/INTERFACES/API-SPECIFICATION/YAML/TMFORUM/DATA_MODEL/Common.yaml#/components/schemas/TimePeriod'
          description: "The period for which the salesLead is valid"
        marketingCampaign:
          $ref: '/INTERFACES/API-SPECIFICATION/YAML/TMFORUM/DATA_MODEL/MarketingSales.yaml#/components/schemas/MarketingCampaignRef'
          description: "Campaign represents the carrier-initiated marketing activity\
            \ which aims at the better recognition about its brand and offerings by\
            \ the market."
        marketSegment:
          $ref: '/INTERFACES/API-SPECIFICATION/YAML/TMFORUM/DATA_MODEL/MarketingSales.yaml#/components/schemas/MarketSegmentRef'
          description: "MarketSegment reference. A Market Segment is a grouping of Parties,\
            \ GeographicAreas, SalesChannels, and so forth. MarketSegments are the target\
            \ of MarketingCampaigns, ProductOfferings, ProductPromotions, ProductPlacements,\
            \ and ProductPrograms from both internal and external (Competitors, and\
            \ other Providers) perspective."
        channel:
          $ref: '/INTERFACES/API-SPECIFICATION/YAML/TMFORUM/DATA_MODEL/Common.yaml#/components/schemas/ChannelRef'
        productOffering:
          $ref: '/INTERFACES/API-SPECIFICATION/YAML/TMFORUM/DATA_MODEL/Product.yaml#/components/schemas/ProductOfferingRef'
        relatedParty:
          type: "array"
          items:
            $ref: '/INTERFACES/API-SPECIFICATION/YAML/TMFORUM/DATA_MODEL/EngagedParty.yaml#/components/schemas/RelatedParty'
        prospectContact:
          type: "array"
          items:
            $ref: '/INTERFACES/API-SPECIFICATION/YAML/TMFORUM/DATA_MODEL/Common.yaml#/components/schemas/ContactMedium'
        productSpecification:
          $ref: '/INTERFACES/API-SPECIFICATION/YAML/TMFORUM/DATA_MODEL/Product.yaml#/components/schemas/ProductSpecificationRef'
        category:
          $ref: '/INTERFACES/API-SPECIFICATION/YAML/TMFORUM/DATA_MODEL/Product.yaml#/components/schemas/CategoryRef'
        salesOpportunity:
          $ref: '/INTERFACES/API-SPECIFICATION/YAML/TMFORUM/DATA_MODEL/MarketingSales.yaml#/components/schemas/SalesOpportunityRef'
        product:
          $ref: '/INTERFACES/API-SPECIFICATION/YAML/TMFORUM/DATA_MODEL/Product.yaml#/components/schemas/ProductRef'
        note:
          type: "array"
          items:
            $ref: '/INTERFACES/API-SPECIFICATION/YAML/TMFORUM/DATA_MODEL/Common.yaml#/components/schemas/Note'
      allOf:
      - $ref: '/INTERFACES/API-SPECIFICATION/YAML/TMFORUM/DATA_MODEL/Common.yaml#/components/schemas/Entity'


    SalesLeadPriorityType:
      type: "string"
      description: "Urgency of working this salesLead"
      enum:
      - "low"
      - "medium"
      - "high"


    MarketSegmentRef:
      type: "object"
      description: "provides references to the corresponding market segment as target\
        \ of product offerings. A market segment is grouping of Parties, GeographicAreas,\
        \ SalesChannels, and so forth."
      properties:
        id:
          type: "string"
          description: "Unique identifier of the market segment"
        href:
          type: "string"
          description: "Reference of the market segment"
        name:
          type: "string"
          description: "Name of the market segment"
        '@referredType':
          type: "string"
          description: "(Class) type of the referred market segment"
      allOf:
      - $ref: '/INTERFACES/API-SPECIFICATION/YAML/TMFORUM/DATA_MODEL/Common.yaml#/components/schemas/Entity'


    MarketingCampaignRef:
      description: "MarketingCampaign reference. Marketing campaign represents the carrier-initiated\
        \ marketing activity which aims at the better recognition about its brand and\
        \ offerings by the market"
      type: "object"
      properties: {}
      allOf:
      - $ref: '/INTERFACES/API-SPECIFICATION/YAML/TMFORUM/DATA_MODEL/Common.yaml#/components/schemas/EntityRef'


